{{define "layout"}}<!doctype html>
<html>
<head>
  	<meta charset="utf-8">
  	<title>Laplas Daemon Data</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
	<div style="width:700px;margin:50px auto 0;">
		<div>Всего записей: {{.Count}}</div>
		<table style="width:100%;margin-top:20px;" class="table">
			<thead class="thead-default">
				<tr>
					<th>Время соединения по МСК</th>
					<th>IP адрес</th>
					<th>MAC адрес</th>
					<th>№ программы</th>
				</tr>
			</thead>
			<tbody>
			{{range $el := .Data}}
				<tr>
					<td>{{format $el.Time}}</td>
					<td>{{$el.IpAddress}}</td>
					<td>{{$el.Mac}}</td>
					<td>{{$el.ProgramId}}</td>
				</tr>
			{{else}}
			<tr>
				<td colspan="4" style="text-align: center">Ничего не найдено</td>
			</tr>
			{{end}}
			</tbody>
		</table>
		{{if gt .TotalPages 1}}
		<ul class="pagination">
		  <li class="page-item{{if eq .CurrentPage 1}} disabled{{end}}"><a class="page-link" href="/page/{{.CurrentPage | dec}}">Пред</a></li>
		  {{range $index,$el := .Pages}}
		  <li class="page-item{{if eq $el 1}} disabled{{end}}"><a class="page-link" href="/page/{{$index | inc}}">{{$index | inc}}</a></li>
		  {{end}}
		  <li class="page-item{{if eq .CurrentPage .TotalPages}} disabled{{end}}"><a class="page-link" href="/page/{{.CurrentPage | inc}}">След</a></li>
		</ul>
		{{end}}
	</div>
</body>
</html>
{{end}}